<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base :: parent(~{::#content},~{::title})}">
<head>
    <meta charset="UTF-8">
    <title>home</title>

    <link rel="stylesheet" data-th-href="@{'/css/output.css'}">

    <!--    flowbit add-->
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css" rel="stylesheet" />


</head>
<body>

<h1 id="content">This is home page</h1>

<!--<script>-->
<!--    console.log("service page");-->

<!--</script>-->


<!--&lt;!&ndash;flowbit script&ndash;&gt;-->
<!--<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>-->

</body>
</html>