<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base :: parent(~{::#content},~{::title})}">

<head>
    <meta charset="UTF-8">
    <title>SignUp</title>
</head>
<body>

<div id="content">
      <div  class=" flex items-center justify-center">



              <div class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
                  <!--           this is form-->

                  <form class="space-y-6"
                        data-th-action="@{'/do-register'}"
                        method="post"
                         data-th-object="${userForm}"
                          novalidate > <!--th:object use for access this property --->

                      <!---alert message-->
                      <div data-th-replace="message::messagebox"></div>

                      <h5 class="text-xl font-medium text-gray-900 dark:text-white">Signup Here</h5>

                      <div>
                          <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
                                                            <!--  th:field="*{}" to access the field of userform-->
                          <input type="text" name="name" id="name" th:field="*{name}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="Enter name" required />

                          <!--   form validation when data is not filling to the register from-->
                          <p data-th-if="${#fields.hasErrors('name')}"
                             data-th-errors="*{name}"
                             class="text-red-600 px-1 py-2"><p/>


                      </div>


                      <div>
                          <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                          <input type="email" name="email" id="email" th:field="*{email}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="name@gmail.com" required />

                          <p data-th-if="${#fields.hasErrors('email')}"
                             data-th-errors="*{email}"
                             class="text-red-600 px-1 py-2"><p/>

                      </div>


                      <div>
                          <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                          <input type="password" name="password" id="password" th:field="*{password}" placeholder="Enter Password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required />

                          <p data-th-if="${#fields.hasErrors('password')}"
                             data-th-errors="*{password}"
                             class="text-red-600 px-1 py-2"><p/>


                      </div>

                      <!--submit button-->
                      <div class="mb-3 flex justify-center space-x-3">
                          <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">SignUp</button>
                          <button type="reset" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Reset</button>

                      </div>

                      <div class="text-sm font-medium text-gray-500 dark:text-gray-300">
                          Already registered! <a data-th-href="@{'/login'}" class="text-blue-700 hover:underline dark:text-blue-500">Please login</a>
                      </div>

                  </form>
              </div>


      </div>
</div>


</body>
</html>